body
{
	margin: 0px;
	padding: 0px;
	
}

.bg{
	background-image: url('hotel-1979406.jpg');
	background-position: center;
	background-size: cover;
	font-family: sans-serif;
	height: 100vh;
}
.bg1{
	background-image: url('hotel-room-1447201.jpg');
	background-position: center;
	background-size: cover;
	font-family: sans-serif;
	height: 100vh;
}
.bg3{
	background-image: url('hotel-1330846');
	background-position: center;
	background-size: cover;
	font-family: sans-serif;
	height: 100vh;
}
.loginbox
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 520px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
}

.loginbox1
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 1000px;
	height: 550px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
}
.loginbox3
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 1000px;
	height: 590px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
}

.image
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: : calc(50% -50px);
}

h2
{
	margin: 0
	padding: 0 0 20px;
	color: #efeD40;
	text-align: center;
}



.loginbox p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;

}
.loginbox1 p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;

}

.loginbox3 p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;

}
.loginbox input
{
	width: 100%;
	margin-bottom: 20px;
}
.loginbox1 input
{
	width: 100%;
	margin-bottom: 20px;
}
.loginbox3 input
{
	width: 100%;
	margin-bottom: 20px;
}

.loginbox input[type="text"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
::placeholder;
{
	color: rgba(255,255,255,.5);
}
.loginbox input[type="select"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
::placeholder;
{
	color: rgba(255,255,255,.5);
}
.loginbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #ff267e;
	cursor: pointer;
	border-radius: 20px;
}
.loginbox1 input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #ff267e;
	cursor: pointer;
	border-radius: 20px;
}
.loginbox3 input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #ff267e;
	cursor: pointer;
	border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
	background: #efeD40;
	color: #262626;
}
.loginbox1 input[type="submit"]:hover
{
	background: #efeD40;
	color: #262626;
}
.loginbox3 input[type="submit"]:hover
{
	background: #efeD40;
	color: #262626;
}

.loginbox a
{
	padding: 10px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;

}
.loginbox1 a
{
	color: #000;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;

}
.loginbox3 a
{
	color: #000;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;

}

	
.myform {
	width:450px;
	margin:0 auto;
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.logout_btn{
	margin-top:10px;
	background-color:#c0392b;
	padding:5px;
	color:white;
	width:100%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	margin-bottom:20px;
}