body {
	margin: 0 auto;
	background-image: url(travel-1677347);
	background-position: center;
	background-size: cover;
	height: 100vh;
	font-family: sans-serif;

}
.loginbox
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 620px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
}
h2
{
	margin: 0
	padding: 0 0 20px;
	color: #efeD40;
	text-align: center;
}
.loginbox p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;

}
.loginbox input
{
	width: 100%;
	margin-bottom: 20px;
}
.loginbox input[type="text"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 20px;
	color: #fff;
	font-size: 13px;
}
::placeholder;
{
	color: rgba(255,255,255,.5);
}
.loginbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 25px;
	color: #fff;
	font-size: 15px;
	background: #ff267e;
	cursor: pointer;
	border-radius: 13px;
}
.loginbox input[type="submit"]:hover
{
	background: #efeD40;
	color: #262626;
}
